@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-box {
    @apply rounded-sm p-2 pl-10 outline-none;
  }
}

.slick-prev:before,
.slick-next:before {
  position: absolute;
  color: #ffdb00;
  font-size: 30px;
}

.slick-prev:before {
  left: -20%;
}
.slick-next:before {
  left: 20%;
}
.slick-track {
  display: flex;
  column-gap: 26px;
}


