version: "3.9"

services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db

  server:
    environment:
      - NODE_ENV=production
    build: ./server
    container_name: film-world
    restart: always
    ports:
      - "127.0.0.1:3002"
    env_file:
      - ./server/.env
    depends_on:
      - mongo

volumes:
  mongo-data:

