version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: film-world-mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: film-world
    restart: always
    ports:
      - "127.0.0.1:3002:3002"
    env_file:
      - ./server/.env
    depends_on:
      - mongo

volumes:
  mongo-data:
